@model GenshinMVC.Models.CharacterVM
@using GenshinLibrary

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var characterIconURL = "https://rerollcdn.com/GENSHIN/Characters/";
    var visionIconURL = "https://rerollcdn.com/GENSHIN/Elements/";
    var weaponIconURL = "https://rerollcdn.com/GENSHIN/Weapon/NEW/";
    string textColor;


    switch (Model.Vision)
    {
        case Vision.Anemo:
            textColor = "text-anemo";
            break;
        case Vision.Pyro:
            textColor = "text-pyro";
            break;
        case Vision.Hydro:
            textColor = "text-hydro";
            break;
        case Vision.Dendro:
            textColor = "text-dendro";
            break;
        case Vision.Cryo:
            textColor = "text-cryo";
            break;
        case Vision.Geo:
            textColor = "text-geo";
            break;
        default:
            textColor = "text-other";
            break;
    }

}

<main class="content content-col">
    <section class="row">
        <div class="col-12 text-center">
            <img class="character-avatar p-2" src="@String.Concat(characterIconURL, Model.Name,".png")" alt="@(Model.Name)_avatar" />
            <h2 class="@textColor">@Model.Name</h2>
        </div>
        <div class="col-12">
            <div class="row w-50 m-auto">
                <div class="col-12 col-sm-6 p-2 d-flex flex-column justify-content-center align-items-center">
                    <span>@Model.Vision</span>
                    <img class="character-vision" src="@String.Concat(visionIconURL, "Element_", Model.Vision, ".png")" alt="@(Model.Vision)_icon" />
                </div>
                <div class="col-12 col-sm-6 p-2 d-flex flex-column justify-content-center align-items-center">
                    <span>@Model.Weapon</span>
                    <img class="character-weapon" src="@String.Concat(weaponIconURL, Model.Weapon, ".png")" alt="@(Model.Weapon)_icon" />
                </div>
            </div>
        </div>
    </section>
    <nav arial-label="secondary" class="row navbar">
        <ul class="nav">
            <li>
                <a class="nav-link" href="#">Skills</a>
            </li>
            <li>
                <a class="nav-link" href="#">Passive</a>
            </li>
            <li>
                <a class="nav-link" href="#">Constellations</a>
            </li>
        </ul>
        <div>
            <a class="nav-link"
               href="https://genshin-impact.fandom.com/wiki/Diluc">More info...</a>
        </div>
    </nav>
</main>