<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/0bd8ca0006.js"
            crossorigin="anonymous"></script>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
</head>
<body>

    <!-- Fixed navbar -->
    <nav arial-label="primary" class="container-fluid">
        <div class="row navbar">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Item</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-md">
        @RenderBody()
    </div>

    <footer class="footer fixed-bottom footer-bg">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-content-center">
                <span>Made with <i class="fas fa-heart"></i> by Fernandez Emmanuel</span>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
