<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/0bd8ca0006.js"
            crossorigin="anonymous"></script>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
</head>
<body>

    <nav aria-label="primary" class="navbar navbar-expand-md mb-4">
        <a class="brand" href="#">
            <img src="https://static.wikia.nocookie.net/gensin-impact/images/5/5a/Enemy_Cryo_Abyss_Mage_Icon.png"
                 alt="page_icon" />
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#contentMenu"
                aria-controls="contentMenu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span>
                <i class="fas fa-bars hamburger-icon"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse" id="contentMenu">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Weapons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Visions</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-md">
        @RenderBody()
    </div>

    <footer class="footer fixed-bottom footer-bg">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-content-center">
                <span>Made with <i class="fas fa-heart"></i> by Fernandez Emmanuel</span>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
