@model IEnumerable<GenshinMVC.Models.CharacterVM>

@{
    ViewBag.Title = "Characters";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var characterIconURL = "https://rerollcdn.com/GENSHIN/Characters/";
    var elementIconURL = "https://rerollcdn.com/GENSHIN/Elements/";
}


<header class="mt-2 mb-4">
    <h2 class="text-center">@ViewBag.Title</h2>
</header>

<section>
    <div class="row d-flex flex-col flex-wrap justify-content-center">
        <main class="content col-md-10 col-sm-12">
            @foreach (var character in Model)
            {
                <div class="character-portrait">

                    @* If character doesnt exist / use placeholders as src *@

                    <img class="character-element" src=@String.Concat(elementIconURL, "Element_", character.Vision, ".png") alt="@character.Vision" />
                    <img class="character-icon" src=@String.Concat(characterIconURL, character.Name,".png") alt="@character.Name">
                    <span class="character-name">@character.Name</span>
                    <div class="nav-options">
                        <a href=@Url.Action("Index", "CharacterDetails", new { id = character.Id, edit = true}) target="_self">Edit</a>
                        <a href=@Url.Action("Index", "CharacterDetails", new { id = character.Id, edit = false }) target="_self">View</a>
                    </div>
                </div>
            }
        </main>
    </div>
</section>

@Scripts.Render("~/bundles/scripts")
